nav {
  display: flex;
  column-gap: 15px;
  align-items: center;
  height: 60px;
  .logo {
    margin-left: auto;
    width: 200px;
    padding: 0 16px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .currentPath {
    color: var(--cl-dark);
    font-weight: 600;
    font-size: 21px;
  }
}

nav:has(+ main) {
  img {
    filter: brightness(4);
  }
}

@media screen and (max-width: 768px) {
  nav {
    .logo {
      margin-right: auto;
    }
  }
}
