@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --cl-primary: #7fc241;
  --cl-secondary: #f39200;
  --cl-dark: #2c2738;
  --cl-dark-blue: #05273c;
  --cl-grey-100: #d9d9d9;
  --cl-grey-200: #e9e9e9;
  --cl-grey-300: #efefef;
  --cl-white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--cl-dark);
  background-color: var(--cl-white);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-inline: 30px;
  padding-top: 30px;
  min-height: 100vh;
}

.container:has(main) {
  background-color: var(--cl-dark-blue);
}

img {
  max-width: 100%;
}
